.item, .item * {
    box-sizing: border-box;
}

.item {
    /* border: 1px dashed rgba(255, 255, 255, 0.15); */
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 4px;
    background: radial-gradient(#a5603d04, #42619104);

}

.item + .item {
    margin-top: 20px;
}

.item .info {
    display: flex;
    font-size: 18px;
    line-height: 1.5;
}

.item .info > div + div {
    padding-left: 30px;
    text-align: center;
}

.item .info .host {
    flex-grow: 1;
    text-align: left;
}
.item .info .infolabel {
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 6px;
}

.item.active {
    border-color: #a55f3d;
    background: radial-gradient(#a5603d15, #42619112);
}

.item .actions {
    display: none;
}

.item:hover .actions {
    display: block;
}

.item .siw {
    border-top: 1px dashed rgba(255, 255, 255, 0.08);
    border-bottom: 1px dashed rgba(255, 255, 255, 0.08);
}